//colors
$color-primary: #5a51ff;
$color-secondary: #3ecc99;
$color-info: #ecedf5;
$color-danger: #ef767a;
$color-success: #456990;
$color-white: #fff;

//Fonts: unfortunately, due to a bug in webpack, font files may not be loaded here but should be loaded in layouts/default.vue. Google fonts should be loaded in nuxt.config.js with webfontloader module.
$font: 'Nunito';
$color-text-primary:  #909fab;

//Header
$font-header-color: $color-white;

//title 
$font-title:  'MarkPro','Arial';
$font-title-weight: 800;
$font-title-size: 40px;

//summary-checks
$font-checks:  'Nunito';
$font-checks-weight: 400;
$font-checks-size: 20px;
$checks-bg-color: $color-secondary;

// blog-content
$font-blog-content: 'Nunito';
$font-blog-content-weight: 500;
$font-blog-content-size: 20px;

//blog label
$font-blog-label-weight: 500;
$font-blog-label-size: 14px;

//other titles
$font-minor-title: "Dosis", sans-serif;
$font-breadcrumb: $font;

//footer color
$footer-bg-color: #eee;
$footer-text-color: #3B3E4A;
$footer-copy-right-color: #3B3E4A;

.c-blog-content {
  li:before {
    content: '__';
    color: $color-primary;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    position: relative;
    bottom: 6px;
  }
} 